<nav class="mb-4 navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><i class="fas fa-drumstick-bite"></i> NG-Food</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-link"
          aria-current="page"
          routerLink=""
          routerLinkActive="active"
          >Home</a
        >
        <a class="nav-link" href="#">Produtos</a>
        <a class="nav-link" href="#">Pedidos</a>
        <a class="nav-link" routerLink="/about" routerLinkActive="active"
          >Sobre</a
        >
        <!-- <a class="nav-link disabled">Disabled</a> -->
      </div>
    </div>
  </div>
</nav>
