<div class="container mt-5">
  <div class="row">
    <div *ngFor="let item of bebidasLista" class="col">
      <div class="container card" style="width: 18rem">
        <img
          src="{{ item.imagem }}"
          class="card-img-top"
          height="200px"
          alt="{{ item.titulo }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ item.titulo }}</h5>
          <p class="card-text">Acesse a receita do {{ item.titulo }}.</p>
          <a href="{{ item.link }}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
