<div class="container">
  <div class="row">
    <div class="col">
      <div class="container card" style="width: 18rem">
        <img
          src="https://www.sumerbol.com.br/uploads/images/2019/01/strogonoff-de-frango-1548843823.jpg"
          class="card-img-top"
          height="200px"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Strogonoff</h5>
          <p class="card-text">Acesse a receita do strogonoff.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="container card" style="width: 18rem">
        <img
          src="https://www.simplyrecipes.com/thmb/F35HzR-D4g8nl9NKk6lNevsmebY=/2000x1334/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__simply_recipes__uploads__2019__03__HT-Make-Roast-Chicken-LEAD-5v2-51de85b6d52a4691885f9d6680d958b1.jpg"
          class="card-img-top"
          height="200px"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Frango assado</h5>
          <p class="card-text">Acesse a receita do frango assado.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
